table {
    width:100%;
    font-family:times;
    font-size: 20px;
    border-collapse: collapse;
    
  }
  table,td, th {
    border: 10px solid black;
    /* text-align:left;
    padding: 8px; */
    height: 50px;
  }
  Body {
    background-color: white
  }
 
  #Twitter {
      padding:20px;
  }
  #Sign {
      padding: 20px;
  }
  
  #Bird {
      padding: 20px;
  }

  #caption {
      font-size: 50px;

  }

  #button {
      margin-left: 550px;
  }

  ul{
      list-style-type:none;
      margin: 0;
      padding: 0;

  }
 
  .body,h1 {font-family: "Raleway", sans-serif;
    color: black;
    text-align: center;
    }
.body, html {height: 100%}

.bgimg {
    background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/2540152/1160/770/m1/fpnw/wm0/0792-.jpg?1492071249&s=d59f9c406a4afbe77b878aa713bf50a3');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

#form {
    margin-left: 550px;
    margin-top: left;
    align: center;
}